.divHome .branch-container {
    background-color: #FFF;
    padding: 2rem;
}

.divHome .branch-container h1{
    margin: 0;
    padding: 0;
}

.divHome .branch-container .branch-carousel {
    padding: 4rem 2rem;
}

.divHome .branch-container .branch-carousel .p-carousel-items-content{
    width: 100%;
}

.divHome .branch-container .branch-carousel .p-carousel-items-content .justify-content-center {
    text-align: center;
}

.logo-img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.logo-img:hover {
  filter: grayscale(0%);
}