.divPanelText {
    padding: 1rem;
}

.paneltextImage {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    flex-wrap: nowrap; 
}

.paneltextImage .info-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paneltextImage .image-side {
    display: flex;
    align-items: center;
}

.paneltextImage .image-side img {
    object-fit: cover;
    width: 100%;
}

.paneltextImage p {
    text-align: justify;
}
@media (max-width: 768px) {
  .paneltextImage {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .paneltextImage .image-side img {
    max-height: 300px;
  }
}